.header {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 2px 1px 2px #ffc753;  
    background-color: #1c0030;
}
.header__logo {
    font-size: 20px;
    font-weight: 700;
    color: #FF7431;
    position: relative;
    z-index: 2;
}
.header__logo_link{
    text-decoration: none;
}
  .header__menu-ham{
    font-size: 22px;
    transform: translateX(-15px);
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: transform 200ms ease;
}
  .header__menu-ham:hover {
    transform: translateX(-15px) scale(1.1);
    transition: transform 200ms ease;
}
  .header__nav{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    padding: 100px 20px 40px;
    width: 100%;
    height: 100vh;
    transition: transform 500ms ease ;
    box-shadow: 0 0 10px #0005;
}  
.header__nav--close {
    transform: translateX(103%);
    transition: transform 500ms ease;
}
  .header__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}
.header__navlink {
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 20px auto;
    text-align: center;
    cursor: pointer;
}
  .header__navlink:hover {
    background-color: #FF7431;
}
  .active-link{
    font-weight: 700;
    color: var(--color-red);
}
  @media screen and (min-width: 720px) {
    .header {
        padding: 0 0 0 30px;
        border-bottom: 1px solid #ccc9;
    }
    .header__logo {
        font-size: 20px;
    }
    .header__menu-ham{
        display: none;
    }
    .header__nav {
        transform: translateX(0);
        transition: none;
        position: initial;
        padding: 0;
        box-shadow: none;
        width: initial;
        height: initial;
        background-color: #1c0030;
    }
    .header__list {
        flex-direction: row;
        gap: 0;
    }
    .header__navlink {
        width: 15vw;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #ccc9;
        background-color: #1c0030;
    }
    .header__item:last-child .header__navlink {
        border-right: 1px solid #ccc9;

    }
}
  
  
  
  
  
  
  
  


/*.header{
    border-bottom: 0px solid ;
    display: flex;
    justify-content: space-between; 
    box-shadow: 2px 1px 2px; 
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;    
    background-color: #1c0030;
}
.header__logo{
    margin-left: 30px;  
    padding: 20px;
    color:#ff7431;
    text-decoration: none;
}
.header__nav{
    margin-right: 30px;
}
.header__logo_link{
    text-decoration: none;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 60px;
    margin:0; 
    list-style: none;
    width: 300px;
    justify-content: space-evenly;
    padding: 30px;
}
.header__item_user{
    filter: invert(0%) sepia(100%) saturate(10%) hue-rotate(205deg) brightness(97%) contrast(102%);
}
.header__item_purchases{
    filter: invert(0%) sepia(100%) saturate(10%) hue-rotate(205deg) brightness(97%) contrast(102%);
}
.header__item_cart{
    filter: invert(0%) sepia(100%) saturate(10%) hue-rotate(205deg) brightness(97%) contrast(102%);
}
.header__list > li {
    box-shadow: 1px 1px 3px;
    height: 80px;
    width: 100px;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 
.header{
    display: flex;
    justify-content: space-between; 
    box-shadow: 2px 1px 2px;
    
    
    /*height: 80px;
}
.header__logo{
    font-size: 20px;
    font-weight: 700;
    position: relative;
    z-index: 2;
    cursor:pointer;
    color:#ff7431;
    padding: 20px;
    text-decoration: none
}
.header__menu-ham{
    font-size: 22px;
    transform: translateX(-15px);
    position: relative;
    z-index:2;
    cursor: pointer;
    transition: transform 200ms ease;
}
.header__menu-ham:hover{
    transform: translateX(-15px) scale(1.1);
    transition: transform 200ms ease
}
.header__nav{
    margin-right: 30px;
    position:fixed;
    top:0;
    
    padding: 100px 20px 40px;
    width: 100%;
    height: 100vh;
    transition: transform 500ms ease;
}
.header__nav--close{
    transform: translateX(103%);
    transition: transform 500ms ease;
}
.header__list{
    display: flex;
    flex-direction: column;
    gap:30px;

    /*align-items: center;
    gap: 60px;
    margin:0; 
    list-style: none;
    width: 300px;
    justify-content: space-evenly;
    padding: 30px;
}
.header__navlink{
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 20px auto;
    text-align: center;
    cursor: pointer;
}
.header__navlink:hover{
    background-color: #ddd4dd;
}
.active-link{
    font-weight: 700;
}
.header__list > li {
    box-shadow: 1px 1px 3px;
    height: 80px;
    width: 100px;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and(min-width:720px){
    .header{
        padding: 0 0 0 30px;
        border-bottom: 1px solid #ccc9;
    }
    .header__logo{
        font-size: 30px;
    }
    .header__menu-ham{
        display: none;
    }
    .header__nav{
        transform: translateX(0);
        transition: none;
        position: initial;
        padding: 0;
        box-shadow: none;
        width: initial;
        height: initial;
    }
    .header__list{
        flex-direction: row;
        gap: 0;
    }
    .header__navlink{
        width: 15vh;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #ccc9;
    }
    .header__item:last-child .header__navlink{
        border-right: 1px solid #ccc9;

    }
    .header__item{
        filter: invert(0%) sepia(100%) saturate(10%) hue-rotate(205deg) brightness(97%) contrast(102%);
    }
    
    .header__logo_link{
        text-decoration: none;
    }
} */
