.home__container-card{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
    margin-left: 10px;
}

@media screen and (min-width: 720px) {
    .home__container-card{
    display: flex;
    flex-wrap: wrap;  
    justify-content: flex-end; 
    margin-top: -310px;
    margin-left: 360px;
    }   

}



